[Unit]
Description=Wolfi Toolbox for your distrobox fun

[Service]
Type=oneshot
ExecStart=/usr/bin/distrobox assemble create --replace -f /etc/distrobox/wolfi-distrobox.ini -n wolfi-toolbox
ExecStart=/usr/bin/distrobox enter wolfi-toolbox 
RemainAfterExit=true